:root {
	--blanco: #ffffff;
	--negro: #000000;
	--primario: #3a4142f5;
	--secundario: #323333;
	--opcional: #e6e6e6;
}
#info {
	background: var(--opcional);
	color: var(--negro);
	text-align: center;
	padding: 20px;
}
#info .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.info-act {
	margin: 30px;
}
.info-act img {
	width: 300px;
	height: 300px;
	border: 7px solid var(--blanco);
}
.info__columna{
    background: #cfd7d8;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 30px;
	justify-content: center;
}
