@import url("https://fonts.googleapis.com?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
. {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
:root {
	--blanco: #ffffff;
	--negro: #000000;
	--primario: #36bed9;
	--secundario: #323333;
	--opcional: #e6e6e6;
}
body {
	overflow-x: hidden;
}
.sombra {
	-webkit-box-shadow: 3px 11px 14px 0px rgba(0, 0, 0, 0.69);
	-moz-box-shadow: 3px 11px 14px 0px rgba(0, 0, 0, 0.69);
	box-shadow: 3px 11px 14px 0px rgba(0, 0, 0, 0.69);
}
.containerr {
	position: relative;
	width: 100%;
}
.navigation {
	position: fixed;
	width: 12.5rem;
	height: 100%;
	background: var(--primario);
	color: var(--blanco);
	overflow: hidden;
	transition: 0.5s;
}
.navigation.active {
	width: 3.1rem;
}
.navigation ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	list-style: none;
	padding: 0;
}
.navigation ul li {
	position: relative;
	width: 100%;
	list-style: none;
}
.containerr ul li:hover {
	background: var(--blanco);
}
.navigation ul li:nth-child(1) {
	margin-bottom: 1rem;
}
.navigation ul li:nth-child(1):hover {
	background: transparent;
}
.navigation ul li a {
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--blanco);
	padding: 0.8rem;
}
.navigation ul li a:hover {
	color: var(--negro);
	font-size: 1.1rem;
}
.navigation ul li a .icon {
	display: relative;
	display: block;
	min-width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}
.navigation ul li a .title {
	position: relative;
	display: block;
	padding: 0 1rem;
	height: 2rem;
	line-height: 2rem;
	white-space: nowrap;
}
.main {
	position: absolute;
	width: calc(100% - 12.5rem);
	left: 12.5rem;
	min-height: 100vh;

	background: transparent;
	transition: 0.5s;
}
.main.active {
	width: calc(100% - 4.3rem);
	left: 3.1rem;
}
.main .topbar {
	width: 100%;
	background: var(--primario);
	height: 3rem;
	padding: 0 0.6rem;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0rem;
}
.toggle {
	position: relative;
	width: 4rem;
	height: 4rem;
	margin-top: 2rem;
	cursor: pointer;
}
.toggle::before {
	position: absolute;
	margin-top: 10rem;
	width: 100%;
	height: 100%;
	line-height: 4rem;
	font-size: 1.5rem;
	text-align: center;
}
.search {
	position: relative;
	width: 25rem;
	margin: 0 1rem;
}
.search label {
	position: relative;
	width: 100%;
}
.search label input {
	width: 100%;
	height: 1.3rem;
	border-radius: 1rem;
	padding: 0.3rem 1rem;
	padding-left: 35px;
	outline: none;
	border: 1px solid rbga(0, 0, 0, 0.2);
	background: val(--blanco);
}
.user {
	position: relative;
	min-width: 3rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}
.user img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cardbox {
	position: relative;
	width: 100%;
	padding: 1.2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.2rem;
}
.cardbox .card {
	position: relative;
	background: var(--blanco);
	padding: 1.2rem;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	margin-right: 5rem;
	border-radius: 0.5rem;
}
.cardbox .card .numbers {
	position: relative;
	font-size: 2rem;
	font-weight: 500;
}
.cardbox .card .cardName {
	color: #8f8c8c;
}
.cardbox .card .iconBox {
	font-size: 2.5rem;
}
.details {
	position: relative;
	width: 100%;
	padding: 1.2rem;
	padding-top: 0;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.details .recentOrders {
	position: relative;
	display: grid;
	min-height: 33rem;
	margin-right: 5rem;
}
.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.cardHeader h2 {
	font-weight: 600;
}
